{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
   <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
   <script src="{% static 'javascript/login_valid.js' %}"></script>
</head>
<body>
  <center>
  <div class="a">
 <form action="" method="get"> 
   <h1>LOGIN</h1>
   <center>
   <input class="b" type="text" placeholder="Email/Username" id="emailid">
   <label id="email_error"></label><br><br>
   <input class="b" type="password" placeholder="Password" id="password">
   <label id="password_error"></label><br><br>
   <div class="c">
   <input type="checkbox" checked>Remember me?<br><br>
   </div>
   <input  class="button" type="button" value="LOGIN" onclick="validation()" style="width: 470px;"><br><br>
   <h2>Not a member? <a href="{% url 'signup' %}"> Sign Up</a></h2>
   </center>
   </center>
 </form>
   </div>
 </body>
</html>